@model IEnumerable<WebAppProject.Models.Expense>

@{
    ViewData["Title"] = "Expenses";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-7">
            <h2 class="text-secondary">My Expenses List</h2>
        </div>
        <div class="col-5 text-right">
            <a asp-controller="Expense" asp-action="Create" class="btn btn-outline-dark">Add new Item</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0) {
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Expense
                    </th>
                    <th>
                        Amount
                    </th>
            </thead>
            <tbody>
                @foreach (var expense in Model) {
                    <tr>
                        <td width="35%">@expense.PurchaseName</td>
                        <td width="35%">@String.Format("${0:0.00}", expense.Cost)</td>
                        <td width="15%" style="border-right:0px">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Expense" asp-action="Update" asp-route-id="@expense.Id" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                        <td width="15%" style="border-left:0px">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Expense" asp-action="Delete" asp-route-id="@expense.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else {
        <p>There is no items created</p>
    }
</div>